*{
  font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 12pt;
  color: #6b0024;
  padding: 1%;
}
table td{
  font-family: 'Metal Mania', cursive;
}
table{
  background-color: #fff257;

}
body{
  background-color: #faebd7;
}
th{
  font-size: 22pt;
  font-family: Tangerine;
  /* color: #5d9a17; */

}